In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.base import BaseEstimator, TransformerMixin

In [2]:
df_anime=pd.read_csv("../datasets/anime-dataset-2023.csv")

In [3]:
df_anime.head(10)

,anime_id,Name,English name,Other name,Score,Genres,Synopsis,Type,Episodes,Aired,...,Studios,Source,Duration,Rating,Rank,Popularity,Favorites,Scored By,Members,Image URL
0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,8.75,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,26.0,"Apr 3, 1998 to Apr 24, 1999",...,Sunrise,Original,24 min per ep,R - 17+ (violence & profanity),41.0,43,78525,914193.0,1771505,https://cdn.myanimelist.net/images/anime/4/196...
1,5,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,カウボーイビバップ 天国の扉,8.38,"Action, Sci-Fi","Another day, another bounty—such is the life o...",Movie,1.0,"Sep 1, 2001",...,Bones,Original,1 hr 55 min,R - 17+ (violence & profanity),189.0,602,1448,206248.0,360978,https://cdn.myanimelist.net/images/anime/1439/...
2,6,Trigun,Trigun,トライガン,8.22,"Action, Adventure, Sci-Fi","Vash the Stampede is the man with a $$60,000,0...",TV,26.0,"Apr 1, 1998 to Sep 30, 1998",...,Madhouse,Manga,24 min per ep,PG-13 - Teens 13 or older,328.0,246,15035,356739.0,727252,https://cdn.myanimelist.net/images/anime/7/203...
3,7,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),7.25,"Action, Drama, Mystery, Supernatural",Robin Sena is a powerful craft user drafted in...,TV,26.0,"Jul 3, 2002 to Dec 25, 2002",...,Sunrise,Original,25 min per ep,PG-13 - Teens 13 or older,2764.0,1795,613,42829.0,111931,https://cdn.myanimelist.net/images/anime/10/19...
4,8,Bouken Ou Beet,Beet the Vandel Buster,冒険王ビィト,6.94,"Adventure, Fantasy, Supernatural",It is the dark century and the people are suff...,TV,52.0,"Sep 30, 2004 to Sep 29, 2005",...,Toei Animation,Manga,23 min per ep,PG - Children,4240.0,5126,14,6413.0,15001,https://cdn.myanimelist.net/images/anime/7/215...
5,15,Eyeshield 21,UNKNOWN,アイシールド21,7.92,Sports,"Shy, reserved, and small-statured, Deimon High...",TV,145.0,"Apr 6, 2005 to Mar 19, 2008",...,Gallop,Manga,23 min per ep,PG-13 - Teens 13 or older,688.0,1252,1997,86524.0,177688,https://cdn.myanimelist.net/images/anime/1079/...
6,16,Hachimitsu to Clover,Honey and Clover,ハチミツとクローバー,8.0,"Comedy, Drama, Romance","Yuuta Takemoto, a sophomore at an arts college...",TV,24.0,"Apr 15, 2005 to Sep 27, 2005",...,J.C.Staff,Manga,23 min per ep,PG-13 - Teens 13 or older,589.0,862,4136,81747.0,260166,https://cdn.myanimelist.net/images/anime/1301/...
7,17,Hungry Heart: Wild Striker,UNKNOWN,ハングリーハート Wild Striker,7.55,"Comedy, Slice of Life, Sports",As the younger brother of Japanese soccer star...,TV,52.0,"Sep 11, 2002 to Sep 10, 2003",...,Nippon Animation,Manga,23 min per ep,PG-13 - Teens 13 or older,1551.0,4212,237,12960.0,24172,https://cdn.myanimelist.net/images/anime/12/49...
8,18,Initial D Fourth Stage,UNKNOWN,頭文字〈イニシャル〉D FOURTH STAGE,8.16,"Action, Drama",Takumi Fujiwara finally joins Ryousuke and Kei...,TV,24.0,"Apr 17, 2004 to Feb 18, 2006",...,A.C.G.T.,Manga,27 min per ep,PG-13 - Teens 13 or older,393.0,1273,1237,97878.0,173710,https://cdn.myanimelist.net/images/anime/9/105...
9,19,Monster,Monster,モンスター,8.87,"Drama, Mystery, Suspense","Dr. Kenzou Tenma, an elite neurosurgeon recent...",TV,74.0,"Apr 7, 2004 to Sep 28, 2005",...,Madhouse,Manga,24 min per ep,R+ - Mild Nudity,26.0,142,47235,368569.0,1013100,https://cdn.myanimelist.net/images/anime/10/18...

In [4]:
df_anime.isna().sum()

anime_id        0
Name            0
English name    0
Other name      0
Score           0
Genres          0
Synopsis        0
Type            0
Episodes        0
Aired           0
Premiered       0
Status          0
Producers       0
Licensors       0
Studios         0
Source          0
Duration        0
Rating          0
Rank            0
Popularity      0
Favorites       0
Scored By       0
Members         0
Image URL       0
dtype: int64

In [5]:
df_anime.columns

Index(['anime_id', 'Name', 'English name', 'Other name', 'Score', 'Genres',
       'Synopsis', 'Type', 'Episodes', 'Aired', 'Premiered', 'Status',
       'Producers', 'Licensors', 'Studios', 'Source', 'Duration', 'Rating',
       'Rank', 'Popularity', 'Favorites', 'Scored By', 'Members', 'Image URL'],
      dtype='object')

In [6]:
df_anime["Aired"].value_counts()

Aired
Not available                   915
2012 to ?                        76
2005                             74
2011 to ?                        74
2010 to ?                        72
                               ...
Mar 3, 1989                       1
May 21, 2006                      1
Oct 2, 1987 to Sep 20, 1988       1
Dec 22, 2011 to Dec 28, 2012      1
Apr 23, 2022                      1
Name: count, Length: 15213, dtype: int64

In [7]:
df_anime["Premiered"].value_counts()

Premiered
UNKNOWN        19399
spring 2017       88
fall 2016         83
spring 2018       81
spring 2016       78
               ...
summer 1993        1
summer 1974        1
summer 1991        1
spring 1961        1
summer 2025        1
Name: count, Length: 244, dtype: int64

In [8]:
df_anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24905 entries, 0 to 24904
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   anime_id      24905 non-null  int64
 1   Name          24905 non-null  object
 2   English name  24905 non-null  object
 3   Other name    24905 non-null  object
 4   Score         24905 non-null  object
 5   Genres        24905 non-null  object
 6   Synopsis      24905 non-null  object
 7   Type          24905 non-null  object
 8   Episodes      24905 non-null  object
 9   Aired         24905 non-null  object
 10  Premiered     24905 non-null  object
 11  Status        24905 non-null  object
 12  Producers     24905 non-null  object
 13  Licensors     24905 non-null  object
 14  Studios       24905 non-null  object
 15  Source        24905 non-null  object
 16  Duration      24905 non-null  object
 17  Rating        24905 non-null  object
 18  Rank          24905 non-null  object
 19  Popularity    24905 non-null  int64
 20  Favorites     24905 non-null  int64
 21  Scored By     24905 non-null  object
 22  Members       24905 non-null  int64
 23  Image URL     24905 non-null  object
dtypes: int64(4), object(20)
memory usage: 4.6+ MB

In [9]:
# Display the count of NaN values for each column
print(df_anime.isna().sum())

anime_id        0
Name            0
English name    0
Other name      0
Score           0
Genres          0
Synopsis        0
Type            0
Episodes        0
Aired           0
Premiered       0
Status          0
Producers       0
Licensors       0
Studios         0
Source          0
Duration        0
Rating          0
Rank            0
Popularity      0
Favorites       0
Scored By       0
Members         0
Image URL       0
dtype: int64

In [10]:
df_anime.shape

(24905, 24)

In [11]:
df_anime["Score"].values

array(['8.75', '8.38', '8.22', ..., 'UNKNOWN', 'UNKNOWN', 'UNKNOWN'],
      dtype=object)

In [12]:
# df_anime=df_anime[df_anime["Score"]=="UNKNOWN"]
# df_anime.shape

In [13]:
df_anime["Score"] = pd.to_numeric(df_anime["Score"], errors='coerce')
df_anime["Episodes"] = pd.to_numeric(df_anime["Episodes"], errors='coerce').fillna(0).astype(int)
df_anime["Rank"] = pd.to_numeric(df_anime["Rank"], errors='coerce').fillna(0).astype(int)
df_anime["Popularity"] = pd.to_numeric(df_anime["Popularity"], errors='coerce').fillna(0).astype(int)
df_anime["Favorites"] = pd.to_numeric(df_anime["Favorites"], errors='coerce').fillna(0).astype(int)
df_anime["Members"] = pd.to_numeric(df_anime["Members"], errors='coerce').fillna(0).astype(int)

In [14]:
df_anime.isna().sum()

anime_id           0
Name               0
English name       0
Other name         0
Score           9213
Genres             0
Synopsis           0
Type               0
Episodes           0
Aired              0
Premiered          0
Status             0
Producers          0
Licensors          0
Studios            0
Source             0
Duration           0
Rating             0
Rank               0
Popularity         0
Favorites          0
Scored By          0
Members            0
Image URL          0
dtype: int64

In [15]:
df_anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24905 entries, 0 to 24904
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   anime_id      24905 non-null  int64
 1   Name          24905 non-null  object
 2   English name  24905 non-null  object
 3   Other name    24905 non-null  object
 4   Score         15692 non-null  float64
 5   Genres        24905 non-null  object
 6   Synopsis      24905 non-null  object
 7   Type          24905 non-null  object
 8   Episodes      24905 non-null  int32
 9   Aired         24905 non-null  object
 10  Premiered     24905 non-null  object
 11  Status        24905 non-null  object
 12  Producers     24905 non-null  object
 13  Licensors     24905 non-null  object
 14  Studios       24905 non-null  object
 15  Source        24905 non-null  object
 16  Duration      24905 non-null  object
 17  Rating        24905 non-null  object
 18  Rank          24905 non-null  int32
 19  Popularity    24905 non-null  int32
 20  Favorites     24905 non-null  int32
 21  Scored By     24905 non-null  object
 22  Members       24905 non-null  int32
 23  Image URL     24905 non-null  object
dtypes: float64(1), int32(5), int64(1), object(17)
memory usage: 4.1+ MB

In [16]:
df_anime.to_csv("Final_Anime_Dataset.csv", index=False)

# Exploring Categorical Values:

In [17]:
df_anime["Genres"].values

array(['Action, Award Winning, Sci-Fi', 'Action, Sci-Fi',
       'Action, Adventure, Sci-Fi', ...,
       'Action, Adventure, Fantasy, Sci-Fi', 'UNKNOWN', 'UNKNOWN'],
      dtype=object)

In [18]:
# Split the "Genres" column by commas, flatten the lists, and get unique values
unique_genres = set(genre.strip() for genres in df_anime["Genres"].dropna() for genre in genres.split(','))

# Display the unique genres
print(unique_genres)
print(len(unique_genres))

{'Hentai', 'Boys Love', 'Mystery', 'Erotica', 'Suspense', 'Gourmet', 'UNKNOWN', 'Romance', 'Drama', 'Girls Love', 'Adventure', 'Award Winning', 'Slice of Life', 'Avant Garde', 'Action', 'Horror', 'Sports', 'Comedy', 'Ecchi', 'Sci-Fi', 'Supernatural', 'Fantasy'}
22

In [19]:
df_anime.isna().sum()

anime_id           0
Name               0
English name       0
Other name         0
Score           9213
Genres             0
Synopsis           0
Type               0
Episodes           0
Aired              0
Premiered          0
Status             0
Producers          0
Licensors          0
Studios            0
Source             0
Duration           0
Rating             0
Rank               0
Popularity         0
Favorites          0
Scored By          0
Members            0
Image URL          0
dtype: int64

In [20]:
class GenreOneHotEncoder(BaseEstimator, TransformerMixin):
    def __init__(self):
        self.unique_genres = None

    def fit(self, X, y=None):
        # Extract unique genres from the 'Genres' column
        all_genres = X['Genres'].str.split(', ').explode().unique()
        self.unique_genres = sorted(all_genres)  # Sort for consistent column order
        return self

    def transform(self, X):
        # Create one-hot encoded columns with prefix "Genre_"
        genre_columns = {f"Genre_{genre}": [] for genre in self.unique_genres}
        
        for genres in X['Genres']:
            genre_set = set(genres.split(', '))
            for genre in self.unique_genres:
                genre_columns[f"Genre_{genre}"].append(1 if genre in genre_set else 0)
        
        # Convert to DataFrame
        genre_df = pd.DataFrame(genre_columns)
        
        # Concatenate original dataframe with one-hot encoded columns
        X_encoded = pd.concat([X.reset_index(drop=True), genre_df], axis=1)
        return X_encoded

# Example usage
data = {
    "anime_id": [1, 2, 3],
    "Name": ["Cowboy Bebop", "Trigun", "Monster"],
    "Genres": ["Action, Sci-Fi", "Action, Adventure, Sci-Fi", "Drama, Mystery, Suspense"]
}

df = pd.DataFrame(data)

# Initialize and apply the transformer
encoder = GenreOneHotEncoder()
encoder.fit(df_anime)
df_encoded = encoder.transform(df_anime)

In [21]:
df_encoded.head()

,anime_id,Name,English name,Other name,Score,Genres,Synopsis,Type,Episodes,Aired,...,Genre_Hentai,Genre_Horror,Genre_Mystery,Genre_Romance,Genre_Sci-Fi,Genre_Slice of Life,Genre_Sports,Genre_Supernatural,Genre_Suspense,Genre_UNKNOWN
0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,8.75,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,26,"Apr 3, 1998 to Apr 24, 1999",...,0,0,0,0,1,0,0,0,0,0
1,5,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,カウボーイビバップ 天国の扉,8.38,"Action, Sci-Fi","Another day, another bounty—such is the life o...",Movie,1,"Sep 1, 2001",...,0,0,0,0,1,0,0,0,0,0
2,6,Trigun,Trigun,トライガン,8.22,"Action, Adventure, Sci-Fi","Vash the Stampede is the man with a $$60,000,0...",TV,26,"Apr 1, 1998 to Sep 30, 1998",...,0,0,0,0,1,0,0,0,0,0
3,7,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),7.25,"Action, Drama, Mystery, Supernatural",Robin Sena is a powerful craft user drafted in...,TV,26,"Jul 3, 2002 to Dec 25, 2002",...,0,0,1,0,0,0,0,1,0,0
4,8,Bouken Ou Beet,Beet the Vandel Buster,冒険王ビィト,6.94,"Adventure, Fantasy, Supernatural",It is the dark century and the people are suff...,TV,52,"Sep 30, 2004 to Sep 29, 2005",...,0,0,0,0,0,0,0,1,0,0

In [22]:
df_encoded.columns

Index(['anime_id', 'Name', 'English name', 'Other name', 'Score', 'Genres',
       'Synopsis', 'Type', 'Episodes', 'Aired', 'Premiered', 'Status',
       'Producers', 'Licensors', 'Studios', 'Source', 'Duration', 'Rating',
       'Rank', 'Popularity', 'Favorites', 'Scored By', 'Members', 'Image URL',
       'Genre_Action', 'Genre_Adventure', 'Genre_Avant Garde',
       'Genre_Award Winning', 'Genre_Boys Love', 'Genre_Comedy', 'Genre_Drama',
       'Genre_Ecchi', 'Genre_Erotica', 'Genre_Fantasy', 'Genre_Girls Love',
       'Genre_Gourmet', 'Genre_Hentai', 'Genre_Horror', 'Genre_Mystery',
       'Genre_Romance', 'Genre_Sci-Fi', 'Genre_Slice of Life', 'Genre_Sports',
       'Genre_Supernatural', 'Genre_Suspense', 'Genre_UNKNOWN'],
      dtype='object')

In [23]:
df_encoded.isna().sum()

anime_id                  0
Name                      0
English name              0
Other name                0
Score                  9213
Genres                    0
Synopsis                  0
Type                      0
Episodes                  0
Aired                     0
Premiered                 0
Status                    0
Producers                 0
Licensors                 0
Studios                   0
Source                    0
Duration                  0
Rating                    0
Rank                      0
Popularity                0
Favorites                 0
Scored By                 0
Members                   0
Image URL                 0
Genre_Action              0
Genre_Adventure           0
Genre_Avant Garde         0
Genre_Award Winning       0
Genre_Boys Love           0
Genre_Comedy              0
Genre_Drama               0
Genre_Ecchi               0
Genre_Erotica             0
Genre_Fantasy             0
Genre_Girls Love          0
Genre_Gourmet             0
Genre_Hentai              0
Genre_Horror              0
Genre_Mystery             0
Genre_Romance             0
Genre_Sci-Fi              0
Genre_Slice of Life       0
Genre_Sports              0
Genre_Supernatural        0
Genre_Suspense            0
Genre_UNKNOWN             0
dtype: int64

In [24]:
df_encoded[["Genres", "Genre_Action", "Genre_Adventure", "Genre_Avant Garde",
       "Genre_Award Winning", "Genre_Boys Love", "Genre_Comedy", "Genre_Drama",
       "Genre_Ecchi", "Genre_Erotica", "Genre_Fantasy", "Genre_Girls Love",
       "Genre_Gourmet", "Genre_Hentai", "Genre_Horror", "Genre_Mystery",
       "Genre_Romance", "Genre_Sci-Fi", "Genre_Slice of Life", "Genre_Sports",
       "Genre_Supernatural", "Genre_Suspense", "Genre_UNKNOWN"]].values

array([['Action, Award Winning, Sci-Fi', 1, 0, ..., 0, 0, 0],
       ['Action, Sci-Fi', 1, 0, ..., 0, 0, 0],
       ['Action, Adventure, Sci-Fi', 1, 1, ..., 0, 0, 0],
       ...,
       ['Action, Adventure, Fantasy, Sci-Fi', 1, 1, ..., 0, 0, 0],
       ['UNKNOWN', 0, 0, ..., 0, 0, 1],
       ['UNKNOWN', 0, 0, ..., 0, 0, 1]], dtype=object)

In [25]:
df_anime["Type"].values

array(['TV', 'Movie', 'TV', ..., 'ONA', 'Music', 'Music'], dtype=object)

In [26]:
df_anime["Type"].unique()

array(['TV', 'Movie', 'OVA', 'Special', 'ONA', 'Music', 'UNKNOWN'],
      dtype=object)

In [27]:
from sklearn.preprocessing import OneHotEncoder

# Initialize the OneHotEncoder
one_hot_encode_Type = OneHotEncoder(sparse_output=False, dtype=int)

# Fit and transform the "Type" column
type_encoded = one_hot_encode_Type.fit_transform(df_encoded[["Type"]])

# Create a DataFrame for the encoded columns
type_encoded_df = pd.DataFrame(type_encoded, columns=[f"Type_{cat}" for cat in one_hot_encode_Type.categories_[0]])

# Concatenate the original DataFrame with the encoded columns
df_encoded = pd.concat([df_encoded.reset_index(drop=True), type_encoded_df.reset_index(drop=True)], axis=1)

# Display the updated columns
df_encoded.columns

Index(['anime_id', 'Name', 'English name', 'Other name', 'Score', 'Genres',
       'Synopsis', 'Type', 'Episodes', 'Aired', 'Premiered', 'Status',
       'Producers', 'Licensors', 'Studios', 'Source', 'Duration', 'Rating',
       'Rank', 'Popularity', 'Favorites', 'Scored By', 'Members', 'Image URL',
       'Genre_Action', 'Genre_Adventure', 'Genre_Avant Garde',
       'Genre_Award Winning', 'Genre_Boys Love', 'Genre_Comedy', 'Genre_Drama',
       'Genre_Ecchi', 'Genre_Erotica', 'Genre_Fantasy', 'Genre_Girls Love',
       'Genre_Gourmet', 'Genre_Hentai', 'Genre_Horror', 'Genre_Mystery',
       'Genre_Romance', 'Genre_Sci-Fi', 'Genre_Slice of Life', 'Genre_Sports',
       'Genre_Supernatural', 'Genre_Suspense', 'Genre_UNKNOWN', 'Type_Movie',
       'Type_Music', 'Type_ONA', 'Type_OVA', 'Type_Special', 'Type_TV',
       'Type_UNKNOWN'],
      dtype='object')

In [28]:
df_encoded["Rating"].unique()

array(['R - 17+ (violence & profanity)', 'PG-13 - Teens 13 or older',
       'PG - Children', 'R+ - Mild Nudity', 'G - All Ages', 'Rx - Hentai',
       'UNKNOWN'], dtype=object)

In [29]:
from sklearn.preprocessing import OneHotEncoder

# Initialize the OneHotEncoder
one_hot_encode_Rating = OneHotEncoder(sparse_output=False, dtype=int)

# Fit and transform the "Type" column
type_encoded = one_hot_encode_Type.fit_transform(df_encoded[["Rating"]])

# Create a DataFrame for the encoded columns
type_encoded_df = pd.DataFrame(type_encoded, columns=[f"Rating_{cat}" for cat in one_hot_encode_Type.categories_[0]])

# Concatenate the original DataFrame with the encoded columns
df_encoded = pd.concat([df_encoded.reset_index(drop=True), type_encoded_df.reset_index(drop=True)], axis=1)

# Display the updated columns
df_encoded.columns

Index(['anime_id', 'Name', 'English name', 'Other name', 'Score', 'Genres',
       'Synopsis', 'Type', 'Episodes', 'Aired', 'Premiered', 'Status',
       'Producers', 'Licensors', 'Studios', 'Source', 'Duration', 'Rating',
       'Rank', 'Popularity', 'Favorites', 'Scored By', 'Members', 'Image URL',
       'Genre_Action', 'Genre_Adventure', 'Genre_Avant Garde',
       'Genre_Award Winning', 'Genre_Boys Love', 'Genre_Comedy', 'Genre_Drama',
       'Genre_Ecchi', 'Genre_Erotica', 'Genre_Fantasy', 'Genre_Girls Love',
       'Genre_Gourmet', 'Genre_Hentai', 'Genre_Horror', 'Genre_Mystery',
       'Genre_Romance', 'Genre_Sci-Fi', 'Genre_Slice of Life', 'Genre_Sports',
       'Genre_Supernatural', 'Genre_Suspense', 'Genre_UNKNOWN', 'Type_Movie',
       'Type_Music', 'Type_ONA', 'Type_OVA', 'Type_Special', 'Type_TV',
       'Type_UNKNOWN', 'Rating_G - All Ages', 'Rating_PG - Children',
       'Rating_PG-13 - Teens 13 or older',
       'Rating_R - 17+ (violence & profanity)', 'Rating_R+ - Mild Nudity',
       'Rating_Rx - Hentai', 'Rating_UNKNOWN'],
      dtype='object')

In [30]:
df_encoded.head(10)

,anime_id,Name,English name,Other name,Score,Genres,Synopsis,Type,Episodes,Aired,...,Type_Special,Type_TV,Type_UNKNOWN,Rating_G - All Ages,Rating_PG - Children,Rating_PG-13 - Teens 13 or older,Rating_R - 17+ (violence & profanity),Rating_R+ - Mild Nudity,Rating_Rx - Hentai,Rating_UNKNOWN
0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,8.75,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,26,"Apr 3, 1998 to Apr 24, 1999",...,0,1,0,0,0,0,1,0,0,0
1,5,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,カウボーイビバップ 天国の扉,8.38,"Action, Sci-Fi","Another day, another bounty—such is the life o...",Movie,1,"Sep 1, 2001",...,0,0,0,0,0,0,1,0,0,0
2,6,Trigun,Trigun,トライガン,8.22,"Action, Adventure, Sci-Fi","Vash the Stampede is the man with a $$60,000,0...",TV,26,"Apr 1, 1998 to Sep 30, 1998",...,0,1,0,0,0,1,0,0,0,0
3,7,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),7.25,"Action, Drama, Mystery, Supernatural",Robin Sena is a powerful craft user drafted in...,TV,26,"Jul 3, 2002 to Dec 25, 2002",...,0,1,0,0,0,1,0,0,0,0
4,8,Bouken Ou Beet,Beet the Vandel Buster,冒険王ビィト,6.94,"Adventure, Fantasy, Supernatural",It is the dark century and the people are suff...,TV,52,"Sep 30, 2004 to Sep 29, 2005",...,0,1,0,0,1,0,0,0,0,0
5,15,Eyeshield 21,UNKNOWN,アイシールド21,7.92,Sports,"Shy, reserved, and small-statured, Deimon High...",TV,145,"Apr 6, 2005 to Mar 19, 2008",...,0,1,0,0,0,1,0,0,0,0
6,16,Hachimitsu to Clover,Honey and Clover,ハチミツとクローバー,8.00,"Comedy, Drama, Romance","Yuuta Takemoto, a sophomore at an arts college...",TV,24,"Apr 15, 2005 to Sep 27, 2005",...,0,1,0,0,0,1,0,0,0,0
7,17,Hungry Heart: Wild Striker,UNKNOWN,ハングリーハート Wild Striker,7.55,"Comedy, Slice of Life, Sports",As the younger brother of Japanese soccer star...,TV,52,"Sep 11, 2002 to Sep 10, 2003",...,0,1,0,0,0,1,0,0,0,0
8,18,Initial D Fourth Stage,UNKNOWN,頭文字〈イニシャル〉D FOURTH STAGE,8.16,"Action, Drama",Takumi Fujiwara finally joins Ryousuke and Kei...,TV,24,"Apr 17, 2004 to Feb 18, 2006",...,0,1,0,0,0,1,0,0,0,0
9,19,Monster,Monster,モンスター,8.87,"Drama, Mystery, Suspense","Dr. Kenzou Tenma, an elite neurosurgeon recent...",TV,74,"Apr 7, 2004 to Sep 28, 2005",...,0,1,0,0,0,0,0,1,0,0

In [31]:
df_encoded["Aired"].values

array(['Apr 3, 1998 to Apr 24, 1999', 'Sep 1, 2001',
       'Apr 1, 1998 to Sep 30, 1998', ..., 'Jul 19, 2023 to ?',
       'Apr 23, 2022', 'Sep 5, 2022'], dtype=object)

In [32]:
# Extract the release year from the "Aired" column
df_encoded["Release_Year_Aired"] = pd.to_datetime(df_encoded["Aired"].str.split(" to ").str[0], errors='coerce').dt.year

# Extract the release year from the "Premiered" column
df_encoded["Release_Year_Premiered"] = df_encoded["Premiered"].str.extract(r'(\d{4})').astype(float)

# Combine the release years from both columns, prioritizing "Aired" if available
df_encoded["Release_Year"] = df_encoded["Release_Year_Aired"].fillna(df_encoded["Release_Year_Premiered"])

# Drop intermediate columns if not needed
df_encoded.drop(columns=["Release_Year_Aired", "Release_Year_Premiered"], inplace=True)

# Display the updated DataFrame with "Aired", "Premiered", and "Release_Year"
print(df_encoded[["Aired", "Premiered", "Release_Year"]].head())

                          Aired    Premiered  Release_Year
0   Apr 3, 1998 to Apr 24, 1999  spring 1998        1998.0
1                   Sep 1, 2001      UNKNOWN        2001.0
2   Apr 1, 1998 to Sep 30, 1998  spring 1998        1998.0
3   Jul 3, 2002 to Dec 25, 2002  summer 2002        2002.0
4  Sep 30, 2004 to Sep 29, 2005    fall 2004        2004.0

In [33]:
df_encoded["Release_Year"].isna().sum()

4659

In [34]:
df_encoded.tail(10)

,anime_id,Name,English name,Other name,Score,Genres,Synopsis,Type,Episodes,Aired,...,Type_TV,Type_UNKNOWN,Rating_G - All Ages,Rating_PG - Children,Rating_PG-13 - Teens 13 or older,Rating_R - 17+ (violence & profanity),Rating_R+ - Mild Nudity,Rating_Rx - Hentai,Rating_UNKNOWN,Release_Year
24895,55726,"Die, Please!",UNKNOWN,부탁이니 죽어주라,NaN,"Fantasy, Romance",I just want to tell him how I feel!\nMina has ...,ONA,0,"May 31, 2023 to ?",...,0,0,1,0,0,0,0,0,0,2023.0
24896,55727,Miru,UNKNOWN,未ル,NaN,Action,No description available for this anime.,UNKNOWN,0,2024 to ?,...,0,1,0,0,0,0,0,0,1,NaN
24897,55728,Wo Mengjian ni Mengjian wo,A Dream Where You Dreamt of Me,我夢見你夢見我,NaN,Drama,Music video for the song Wo Mengjian ni Mengji...,Music,1,"Jun 22, 2017",...,0,0,1,0,0,0,0,0,0,2017.0
24898,55729,Thailand,UNKNOWN,Thailand,NaN,Avant Garde,Music video for the song Thailand by Oh Shu.,Music,1,"Jul 3, 2014",...,0,0,0,0,1,0,0,0,0,2014.0
24899,55730,Energy,UNKNOWN,Energy,NaN,Avant Garde,Music video for the song Energy by SLEEQ (Kim ...,Music,1,"Feb 11, 2015",...,0,0,0,0,1,0,0,0,0,2015.0
24900,55731,Wu Nao Monu,UNKNOWN,无脑魔女,NaN,"Comedy, Fantasy, Slice of Life",No description available for this anime.,ONA,15,"Jul 4, 2023 to ?",...,0,0,0,0,1,0,0,0,0,2023.0
24901,55732,Bu Xing Si: Yuan Qi,Blader Soul,捕星司·源起,NaN,"Action, Adventure, Fantasy",No description available for this anime.,ONA,18,"Jul 27, 2023 to ?",...,0,0,0,0,1,0,0,0,0,2023.0
24902,55733,Di Yi Xulie,The First Order,第一序列,NaN,"Action, Adventure, Fantasy, Sci-Fi",No description available for this anime.,ONA,16,"Jul 19, 2023 to ?",...,0,0,0,0,1,0,0,0,0,2023.0
24903,55734,Bokura no Saishuu Sensou,UNKNOWN,僕らの最終戦争,NaN,UNKNOWN,A music video for the song Bokura no Saishuu S...,Music,1,"Apr 23, 2022",...,0,0,0,0,1,0,0,0,0,2022.0
24904,55735,Shijuuku Nichi,UNKNOWN,四十九日,NaN,UNKNOWN,A music video for the song Shijuuku Nichi by S...,Music,1,"Sep 5, 2022",...,0,0,0,0,1,0,0,0,0,2022.0

In [35]:
df_encoded.isna().sum()

anime_id                                    0
Name                                        0
English name                                0
Other name                                  0
Score                                    9213
                                         ...
Rating_R - 17+ (violence & profanity)       0
Rating_R+ - Mild Nudity                     0
Rating_Rx - Hentai                          0
Rating_UNKNOWN                              0
Release_Year                             4659
Length: 61, dtype: int64

In [36]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24905 entries, 0 to 24904
Data columns (total 61 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   anime_id                               24905 non-null  int64
 1   Name                                   24905 non-null  object
 2   English name                           24905 non-null  object
 3   Other name                             24905 non-null  object
 4   Score                                  15692 non-null  float64
 5   Genres                                 24905 non-null  object
 6   Synopsis                               24905 non-null  object
 7   Type                                   24905 non-null  object
 8   Episodes                               24905 non-null  int32
 9   Aired                                  24905 non-null  object
 10  Premiered                              24905 non-null  object
 11  Status                                 24905 non-null  object
 12  Producers                              24905 non-null  object
 13  Licensors                              24905 non-null  object
 14  Studios                                24905 non-null  object
 15  Source                                 24905 non-null  object
 16  Duration                               24905 non-null  object
 17  Rating                                 24905 non-null  object
 18  Rank                                   24905 non-null  int32
 19  Popularity                             24905 non-null  int32
 20  Favorites                              24905 non-null  int32
 21  Scored By                              24905 non-null  object
 22  Members                                24905 non-null  int32
 23  Image URL                              24905 non-null  object
 24  Genre_Action                           24905 non-null  int64
 25  Genre_Adventure                        24905 non-null  int64
 26  Genre_Avant Garde                      24905 non-null  int64
 27  Genre_Award Winning                    24905 non-null  int64
 28  Genre_Boys Love                        24905 non-null  int64
 29  Genre_Comedy                           24905 non-null  int64
 30  Genre_Drama                            24905 non-null  int64
 31  Genre_Ecchi                            24905 non-null  int64
 32  Genre_Erotica                          24905 non-null  int64
 33  Genre_Fantasy                          24905 non-null  int64
 34  Genre_Girls Love                       24905 non-null  int64
 35  Genre_Gourmet                          24905 non-null  int64
 36  Genre_Hentai                           24905 non-null  int64
 37  Genre_Horror                           24905 non-null  int64
 38  Genre_Mystery                          24905 non-null  int64
 39  Genre_Romance                          24905 non-null  int64
 40  Genre_Sci-Fi                           24905 non-null  int64
 41  Genre_Slice of Life                    24905 non-null  int64
 42  Genre_Sports                           24905 non-null  int64
 43  Genre_Supernatural                     24905 non-null  int64
 44  Genre_Suspense                         24905 non-null  int64
 45  Genre_UNKNOWN                          24905 non-null  int64
 46  Type_Movie                             24905 non-null  int32
 47  Type_Music                             24905 non-null  int32
 48  Type_ONA                               24905 non-null  int32
 49  Type_OVA                               24905 non-null  int32
 50  Type_Special                           24905 non-null  int32
 51  Type_TV                                24905 non-null  int32
 52  Type_UNKNOWN                           24905 non-null  int32
 53  Rating_G - All Ages                    24905 non-null  int32
 54  Rating_PG - Children                   24905 non-null  int32
 55  Rating_PG-13 - Teens 13 or older       24905 non-null  int32
 56  Rating_R - 17+ (violence & profanity)  24905 non-null  int32
 57  Rating_R+ - Mild Nudity                24905 non-null  int32
 58  Rating_Rx - Hentai                     24905 non-null  int32
 59  Rating_UNKNOWN                         24905 non-null  int32
 60  Release_Year                           20246 non-null  float64
dtypes: float64(2), int32(19), int64(23), object(17)
memory usage: 9.8+ MB

In [37]:
from numpy import nan


df_encoded=df_encoded[df_encoded["Release_Year"]!=nan]

In [38]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24905 entries, 0 to 24904
Data columns (total 61 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   anime_id                               24905 non-null  int64
 1   Name                                   24905 non-null  object
 2   English name                           24905 non-null  object
 3   Other name                             24905 non-null  object
 4   Score                                  15692 non-null  float64
 5   Genres                                 24905 non-null  object
 6   Synopsis                               24905 non-null  object
 7   Type                                   24905 non-null  object
 8   Episodes                               24905 non-null  int32
 9   Aired                                  24905 non-null  object
 10  Premiered                              24905 non-null  object
 11  Status                                 24905 non-null  object
 12  Producers                              24905 non-null  object
 13  Licensors                              24905 non-null  object
 14  Studios                                24905 non-null  object
 15  Source                                 24905 non-null  object
 16  Duration                               24905 non-null  object
 17  Rating                                 24905 non-null  object
 18  Rank                                   24905 non-null  int32
 19  Popularity                             24905 non-null  int32
 20  Favorites                              24905 non-null  int32
 21  Scored By                              24905 non-null  object
 22  Members                                24905 non-null  int32
 23  Image URL                              24905 non-null  object
 24  Genre_Action                           24905 non-null  int64
 25  Genre_Adventure                        24905 non-null  int64
 26  Genre_Avant Garde                      24905 non-null  int64
 27  Genre_Award Winning                    24905 non-null  int64
 28  Genre_Boys Love                        24905 non-null  int64
 29  Genre_Comedy                           24905 non-null  int64
 30  Genre_Drama                            24905 non-null  int64
 31  Genre_Ecchi                            24905 non-null  int64
 32  Genre_Erotica                          24905 non-null  int64
 33  Genre_Fantasy                          24905 non-null  int64
 34  Genre_Girls Love                       24905 non-null  int64
 35  Genre_Gourmet                          24905 non-null  int64
 36  Genre_Hentai                           24905 non-null  int64
 37  Genre_Horror                           24905 non-null  int64
 38  Genre_Mystery                          24905 non-null  int64
 39  Genre_Romance                          24905 non-null  int64
 40  Genre_Sci-Fi                           24905 non-null  int64
 41  Genre_Slice of Life                    24905 non-null  int64
 42  Genre_Sports                           24905 non-null  int64
 43  Genre_Supernatural                     24905 non-null  int64
 44  Genre_Suspense                         24905 non-null  int64
 45  Genre_UNKNOWN                          24905 non-null  int64
 46  Type_Movie                             24905 non-null  int32
 47  Type_Music                             24905 non-null  int32
 48  Type_ONA                               24905 non-null  int32
 49  Type_OVA                               24905 non-null  int32
 50  Type_Special                           24905 non-null  int32
 51  Type_TV                                24905 non-null  int32
 52  Type_UNKNOWN                           24905 non-null  int32
 53  Rating_G - All Ages                    24905 non-null  int32
 54  Rating_PG - Children                   24905 non-null  int32
 55  Rating_PG-13 - Teens 13 or older       24905 non-null  int32
 56  Rating_R - 17+ (violence & profanity)  24905 non-null  int32
 57  Rating_R+ - Mild Nudity                24905 non-null  int32
 58  Rating_Rx - Hentai                     24905 non-null  int32
 59  Rating_UNKNOWN                         24905 non-null  int32
 60  Release_Year                           20246 non-null  float64
dtypes: float64(2), int32(19), int64(23), object(17)
memory usage: 9.8+ MB

In [39]:
df_encoded = df_encoded[df_encoded["Release_Year"] != "UNKNOWN"]

In [40]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24905 entries, 0 to 24904
Data columns (total 61 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   anime_id                               24905 non-null  int64
 1   Name                                   24905 non-null  object
 2   English name                           24905 non-null  object
 3   Other name                             24905 non-null  object
 4   Score                                  15692 non-null  float64
 5   Genres                                 24905 non-null  object
 6   Synopsis                               24905 non-null  object
 7   Type                                   24905 non-null  object
 8   Episodes                               24905 non-null  int32
 9   Aired                                  24905 non-null  object
 10  Premiered                              24905 non-null  object
 11  Status                                 24905 non-null  object
 12  Producers                              24905 non-null  object
 13  Licensors                              24905 non-null  object
 14  Studios                                24905 non-null  object
 15  Source                                 24905 non-null  object
 16  Duration                               24905 non-null  object
 17  Rating                                 24905 non-null  object
 18  Rank                                   24905 non-null  int32
 19  Popularity                             24905 non-null  int32
 20  Favorites                              24905 non-null  int32
 21  Scored By                              24905 non-null  object
 22  Members                                24905 non-null  int32
 23  Image URL                              24905 non-null  object
 24  Genre_Action                           24905 non-null  int64
 25  Genre_Adventure                        24905 non-null  int64
 26  Genre_Avant Garde                      24905 non-null  int64
 27  Genre_Award Winning                    24905 non-null  int64
 28  Genre_Boys Love                        24905 non-null  int64
 29  Genre_Comedy                           24905 non-null  int64
 30  Genre_Drama                            24905 non-null  int64
 31  Genre_Ecchi                            24905 non-null  int64
 32  Genre_Erotica                          24905 non-null  int64
 33  Genre_Fantasy                          24905 non-null  int64
 34  Genre_Girls Love                       24905 non-null  int64
 35  Genre_Gourmet                          24905 non-null  int64
 36  Genre_Hentai                           24905 non-null  int64
 37  Genre_Horror                           24905 non-null  int64
 38  Genre_Mystery                          24905 non-null  int64
 39  Genre_Romance                          24905 non-null  int64
 40  Genre_Sci-Fi                           24905 non-null  int64
 41  Genre_Slice of Life                    24905 non-null  int64
 42  Genre_Sports                           24905 non-null  int64
 43  Genre_Supernatural                     24905 non-null  int64
 44  Genre_Suspense                         24905 non-null  int64
 45  Genre_UNKNOWN                          24905 non-null  int64
 46  Type_Movie                             24905 non-null  int32
 47  Type_Music                             24905 non-null  int32
 48  Type_ONA                               24905 non-null  int32
 49  Type_OVA                               24905 non-null  int32
 50  Type_Special                           24905 non-null  int32
 51  Type_TV                                24905 non-null  int32
 52  Type_UNKNOWN                           24905 non-null  int32
 53  Rating_G - All Ages                    24905 non-null  int32
 54  Rating_PG - Children                   24905 non-null  int32
 55  Rating_PG-13 - Teens 13 or older       24905 non-null  int32
 56  Rating_R - 17+ (violence & profanity)  24905 non-null  int32
 57  Rating_R+ - Mild Nudity                24905 non-null  int32
 58  Rating_Rx - Hentai                     24905 non-null  int32
 59  Rating_UNKNOWN                         24905 non-null  int32
 60  Release_Year                           20246 non-null  float64
dtypes: float64(2), int32(19), int64(23), object(17)
memory usage: 9.8+ MB

In [41]:
df_encoded.to_csv("Final_Anime_Dataset.csv", index=False)

### making data for user where values are averaged for each genre and only one row per user is there

In [42]:
user_data_temp_final_path = r"C:\Users\Lenovo\Desktop\aha tamatar\Manga-Recommender\datasets\user_data_temp_final.csv"
OneUser_multiAnime_df = pd.read_csv(user_data_temp_final_path)

In [43]:
# OneUser_multiAnime_df.drop(columns=['Unnamed: 0'],inplace=True)
OneUser_multiAnime_df.head(10)
OneUser_multiAnime_df.columns

Index(['Unnamed: 0', 'Username', 'Gender', 'Mean Score', 'Completed',
       'Birth_Year', 'user_id', 'anime_id', 'Anime Title', 'rating'],
      dtype='object')

In [44]:
df_encoded.columns

Index(['anime_id', 'Name', 'English name', 'Other name', 'Score', 'Genres',
       'Synopsis', 'Type', 'Episodes', 'Aired', 'Premiered', 'Status',
       'Producers', 'Licensors', 'Studios', 'Source', 'Duration', 'Rating',
       'Rank', 'Popularity', 'Favorites', 'Scored By', 'Members', 'Image URL',
       'Genre_Action', 'Genre_Adventure', 'Genre_Avant Garde',
       'Genre_Award Winning', 'Genre_Boys Love', 'Genre_Comedy', 'Genre_Drama',
       'Genre_Ecchi', 'Genre_Erotica', 'Genre_Fantasy', 'Genre_Girls Love',
       'Genre_Gourmet', 'Genre_Hentai', 'Genre_Horror', 'Genre_Mystery',
       'Genre_Romance', 'Genre_Sci-Fi', 'Genre_Slice of Life', 'Genre_Sports',
       'Genre_Supernatural', 'Genre_Suspense', 'Genre_UNKNOWN', 'Type_Movie',
       'Type_Music', 'Type_ONA', 'Type_OVA', 'Type_Special', 'Type_TV',
       'Type_UNKNOWN', 'Rating_G - All Ages', 'Rating_PG - Children',
       'Rating_PG-13 - Teens 13 or older',
       'Rating_R - 17+ (violence & profanity)', 'Rating_R+ - Mild Nudity',
       'Rating_Rx - Hentai', 'Rating_UNKNOWN', 'Release_Year'],
      dtype='object')

In [45]:
df_anime_genre = df_encoded[['anime_id','Genres', 'Genre_Action', 'Genre_Adventure', 'Genre_Avant Garde',
       'Genre_Award Winning', 'Genre_Boys Love', 'Genre_Comedy', 'Genre_Drama',
       'Genre_Ecchi', 'Genre_Erotica', 'Genre_Fantasy', 'Genre_Girls Love',
       'Genre_Gourmet', 'Genre_Hentai', 'Genre_Horror', 'Genre_Mystery',
       'Genre_Romance', 'Genre_Sci-Fi', 'Genre_Slice of Life', 'Genre_Sports',
       'Genre_Supernatural', 'Genre_Suspense']]

# Note : remove Genre_UNKNOWN : simply adds noise 
# remove UNKNOWN 

# transformer used 
"""
class GenreOneHotEncoder(BaseEstimator, TransformerMixin):
    def __init__(self):
        self.unique_genres = None

    def fit(self, X, y=None):
        # Extract unique genres from the 'Genres' column
        all_genres = X['Genres'].str.split(', ').explode().unique()
        self.unique_genres = sorted(all_genres)  # Sort for consistent column order
        return self

    def transform(self, X):
        # Create one-hot encoded columns with prefix "Genre_"
        genre_columns = {f"Genre_{genre}": [] for genre in self.unique_genres}
        
        for genres in X['Genres']:
            genre_set = set(genres.split(', '))
            for genre in self.unique_genres:
                genre_columns[f"Genre_{genre}"].append(1 if genre in genre_set else 0)
        
        # Convert to DataFrame
        genre_df = pd.DataFrame(genre_columns)
        
        # Concatenate original dataframe with one-hot encoded columns
        X_encoded = pd.concat([X.reset_index(drop=True), genre_df], axis=1)
        return X_encoded
"""
df_anime_genre

,anime_id,Genres,Genre_Action,Genre_Adventure,Genre_Avant Garde,Genre_Award Winning,Genre_Boys Love,Genre_Comedy,Genre_Drama,Genre_Ecchi,...,Genre_Gourmet,Genre_Hentai,Genre_Horror,Genre_Mystery,Genre_Romance,Genre_Sci-Fi,Genre_Slice of Life,Genre_Sports,Genre_Supernatural,Genre_Suspense
0,1,"Action, Award Winning, Sci-Fi",1,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,5,"Action, Sci-Fi",1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,6,"Action, Adventure, Sci-Fi",1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,7,"Action, Drama, Mystery, Supernatural",1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
4,8,"Adventure, Fantasy, Supernatural",0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24900,55731,"Comedy, Fantasy, Slice of Life",0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
24901,55732,"Action, Adventure, Fantasy",1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24902,55733,"Action, Adventure, Fantasy, Sci-Fi",1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
24903,55734,UNKNOWN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24904,55735,UNKNOWN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
merged_df = pd.merge(
    OneUser_multiAnime_df,
    df_anime_genre,
    on='anime_id',
    how='inner'
)

In [47]:
merged_df.head(5)

,Unnamed: 0,Username,Gender,Mean Score,Completed,Birth_Year,user_id,anime_id,Anime Title,rating,...,Genre_Gourmet,Genre_Hentai,Genre_Horror,Genre_Mystery,Genre_Romance,Genre_Sci-Fi,Genre_Slice of Life,Genre_Sports,Genre_Supernatural,Genre_Suspense
0,0,Xinil,Male,7.37,233.0,1985,1,21,One Piece,9,...,0,0,0,0,0,0,0,0,0,0
1,1,Xinil,Male,7.37,233.0,1985,1,48,.hack//Sign,7,...,0,0,0,1,0,0,0,0,0,0
2,2,Xinil,Male,7.37,233.0,1985,1,320,A Kite,5,...,0,1,0,0,0,0,0,0,0,0
3,3,Xinil,Male,7.37,233.0,1985,1,49,Aa! Megami-sama!,8,...,0,0,0,0,1,0,0,0,1,0
4,4,Xinil,Male,7.37,233.0,1985,1,304,Aa! Megami-sama! Movie,8,...,0,0,0,0,1,0,0,0,1,0

In [48]:
merged_df.columns

Index(['Unnamed: 0', 'Username', 'Gender', 'Mean Score', 'Completed',
       'Birth_Year', 'user_id', 'anime_id', 'Anime Title', 'rating', 'Genres',
       'Genre_Action', 'Genre_Adventure', 'Genre_Avant Garde',
       'Genre_Award Winning', 'Genre_Boys Love', 'Genre_Comedy', 'Genre_Drama',
       'Genre_Ecchi', 'Genre_Erotica', 'Genre_Fantasy', 'Genre_Girls Love',
       'Genre_Gourmet', 'Genre_Hentai', 'Genre_Horror', 'Genre_Mystery',
       'Genre_Romance', 'Genre_Sci-Fi', 'Genre_Slice of Life', 'Genre_Sports',
       'Genre_Supernatural', 'Genre_Suspense'],
      dtype='object')

In [49]:
import pandas as pd

# Step 1: Identify genre columns
genre_cols = [col for col in merged_df.columns if col.startswith("Genre_")]

# Step 2: Use matrix multiplication (avoids creating new columns in merged_df)
rating_matrix = merged_df[genre_cols].multiply(merged_df['rating'], axis=0)

# Step 3: Group by user_id and calculate sums
rating_sums = rating_matrix.groupby(merged_df['user_id']).sum()
genre_counts = merged_df.groupby('user_id')[genre_cols].sum()

# Step 4: Compute average rating per genre
avg_genre_ratings = rating_sums.div(genre_counts)
avg_genre_ratings.columns = [col.replace('Genre_', 'avg_') for col in avg_genre_ratings.columns]

# Step 5: Merge with user info
user_info = (
    merged_df[['user_id', 'Username', 'Gender', 'Birth_Year', 'Mean Score', 'Completed']]
    .drop_duplicates('user_id')
    .set_index('user_id')
)

# Step 6: Combine results
final_df = pd.concat([user_info, avg_genre_ratings], axis=1).reset_index()

# Optional: Only keep relevant average ratings (e.g., drop NaNs or round)
final_df[avg_genre_ratings.columns] = final_df[avg_genre_ratings.columns].round(2)

# Final preview
final_df.head()

,user_id,Username,Gender,Birth_Year,Mean Score,Completed,avg_Action,avg_Adventure,avg_Avant Garde,avg_Award Winning,...,avg_Gourmet,avg_Hentai,avg_Horror,avg_Mystery,avg_Romance,avg_Sci-Fi,avg_Slice of Life,avg_Sports,avg_Supernatural,avg_Suspense
0,1,Xinil,Male,1985,7.37,233.0,7.68,7.90,8.0,8.18,...,8.00,5.42,7.31,7.86,7.27,7.37,7.54,7.56,7.66,8.18
1,20,vondur,Male,1988,8.06,94.0,8.02,8.24,9.0,8.43,...,8.00,NaN,7.67,8.36,8.00,8.19,8.33,8.38,8.43,8.56
2,66,Hiromi,Male,1990,7.53,148.0,7.49,7.31,7.0,7.90,...,9.00,NaN,7.43,7.54,7.53,7.32,6.62,8.00,7.85,7.00
3,82,Achtor,Male,1989,7.17,153.0,7.36,7.71,8.8,8.25,...,6.33,NaN,7.71,7.76,7.20,7.39,7.05,6.75,7.40,8.18
4,112,luffykun,Male,1983,8.77,125.0,8.60,8.36,NaN,9.80,...,NaN,NaN,8.64,9.00,8.89,8.00,NaN,9.50,8.60,10.00

In [50]:
final_df.head(10)

,user_id,Username,Gender,Birth_Year,Mean Score,Completed,avg_Action,avg_Adventure,avg_Avant Garde,avg_Award Winning,...,avg_Gourmet,avg_Hentai,avg_Horror,avg_Mystery,avg_Romance,avg_Sci-Fi,avg_Slice of Life,avg_Sports,avg_Supernatural,avg_Suspense
0,1,Xinil,Male,1985,7.37,233.0,7.68,7.90,8.00,8.18,...,8.00,5.42,7.31,7.86,7.27,7.37,7.54,7.56,7.66,8.18
1,20,vondur,Male,1988,8.06,94.0,8.02,8.24,9.00,8.43,...,8.00,NaN,7.67,8.36,8.00,8.19,8.33,8.38,8.43,8.56
2,66,Hiromi,Male,1990,7.53,148.0,7.49,7.31,7.00,7.90,...,9.00,NaN,7.43,7.54,7.53,7.32,6.62,8.00,7.85,7.00
3,82,Achtor,Male,1989,7.17,153.0,7.36,7.71,8.80,8.25,...,6.33,NaN,7.71,7.76,7.20,7.39,7.05,6.75,7.40,8.18
4,112,luffykun,Male,1983,8.77,125.0,8.60,8.36,NaN,9.80,...,NaN,NaN,8.64,9.00,8.89,8.00,NaN,9.50,8.60,10.00
5,120,hazte,Male,1986,6.69,260.0,7.51,6.61,10.00,7.80,...,NaN,NaN,7.12,6.17,6.57,6.38,7.00,5.10,7.35,8.33
6,138,DanskiJonez,Male,1986,9.09,188.0,9.35,9.26,8.50,8.90,...,NaN,10.00,9.38,8.85,8.97,9.12,8.29,8.00,9.02,8.40
7,163,Holzy,Male,1982,7.62,1478.0,7.95,8.80,NaN,7.00,...,NaN,7.24,8.00,8.00,7.60,8.00,NaN,7.00,7.60,NaN
8,185,Fador,Male,1984,7.58,167.0,7.67,7.68,6.67,7.11,...,9.00,8.00,7.33,7.35,7.63,7.24,8.07,7.56,7.92,5.00
9,208,Arinohyoshi,Male,1987,8.30,194.0,8.17,8.22,NaN,8.27,...,9.00,NaN,8.47,8.40,8.63,8.11,9.17,8.36,8.31,8.00

In [51]:
print(final_df.shape[0]==len(final_df["user_id"].unique()))

True

In [52]:
final_df.columns

Index(['user_id', 'Username', 'Gender', 'Birth_Year', 'Mean Score',
       'Completed', 'avg_Action', 'avg_Adventure', 'avg_Avant Garde',
       'avg_Award Winning', 'avg_Boys Love', 'avg_Comedy', 'avg_Drama',
       'avg_Ecchi', 'avg_Erotica', 'avg_Fantasy', 'avg_Girls Love',
       'avg_Gourmet', 'avg_Hentai', 'avg_Horror', 'avg_Mystery', 'avg_Romance',
       'avg_Sci-Fi', 'avg_Slice of Life', 'avg_Sports', 'avg_Supernatural',
       'avg_Suspense'],
      dtype='object')

In [53]:
final_df.fillna(0, inplace=True)

In [54]:
final_df.info()
final_df.to_csv("Final_User_Dataset.csv",index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71285 entries, 0 to 71284
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user_id            71285 non-null  int64
 1   Username           71285 non-null  object
 2   Gender             71285 non-null  object
 3   Birth_Year         71285 non-null  int64
 4   Mean Score         71285 non-null  float64
 5   Completed          71285 non-null  float64
 6   avg_Action         71285 non-null  float64
 7   avg_Adventure      71285 non-null  float64
 8   avg_Avant Garde    71285 non-null  float64
 9   avg_Award Winning  71285 non-null  float64
 10  avg_Boys Love      71285 non-null  float64
 11  avg_Comedy         71285 non-null  float64
 12  avg_Drama          71285 non-null  float64
 13  avg_Ecchi          71285 non-null  float64
 14  avg_Erotica        71285 non-null  float64
 15  avg_Fantasy        71285 non-null  float64
 16  avg_Girls Love     71285 non-null  float64
 17  avg_Gourmet        71285 non-null  float64
 18  avg_Hentai         71285 non-null  float64
 19  avg_Horror         71285 non-null  float64
 20  avg_Mystery        71285 non-null  float64
 21  avg_Romance        71285 non-null  float64
 22  avg_Sci-Fi         71285 non-null  float64
 23  avg_Slice of Life  71285 non-null  float64
 24  avg_Sports         71285 non-null  float64
 25  avg_Supernatural   71285 non-null  float64
 26  avg_Suspense       71285 non-null  float64
dtypes: float64(23), int64(2), object(2)
memory usage: 14.7+ MB

## Say_Gex:

In [55]:
import pandas as pd
import numpy as np

In [56]:
df_anime=pd.read_csv("Final_Anime_Dataset.csv")
df_user=pd.read_csv("Final_User_Dataset.csv")

In [57]:
df_user.head(5)

,user_id,Username,Gender,Birth_Year,Mean Score,Completed,avg_Action,avg_Adventure,avg_Avant Garde,avg_Award Winning,...,avg_Gourmet,avg_Hentai,avg_Horror,avg_Mystery,avg_Romance,avg_Sci-Fi,avg_Slice of Life,avg_Sports,avg_Supernatural,avg_Suspense
0,1,Xinil,Male,1985,7.37,233.0,7.68,7.90,8.0,8.18,...,8.00,5.42,7.31,7.86,7.27,7.37,7.54,7.56,7.66,8.18
1,20,vondur,Male,1988,8.06,94.0,8.02,8.24,9.0,8.43,...,8.00,0.00,7.67,8.36,8.00,8.19,8.33,8.38,8.43,8.56
2,66,Hiromi,Male,1990,7.53,148.0,7.49,7.31,7.0,7.90,...,9.00,0.00,7.43,7.54,7.53,7.32,6.62,8.00,7.85,7.00
3,82,Achtor,Male,1989,7.17,153.0,7.36,7.71,8.8,8.25,...,6.33,0.00,7.71,7.76,7.20,7.39,7.05,6.75,7.40,8.18
4,112,luffykun,Male,1983,8.77,125.0,8.60,8.36,0.0,9.80,...,0.00,0.00,8.64,9.00,8.89,8.00,0.00,9.50,8.60,10.00

In [58]:
df_anime.head(5)

,anime_id,Name,English name,Other name,Score,Genres,Synopsis,Type,Episodes,Aired,...,Type_TV,Type_UNKNOWN,Rating_G - All Ages,Rating_PG - Children,Rating_PG-13 - Teens 13 or older,Rating_R - 17+ (violence & profanity),Rating_R+ - Mild Nudity,Rating_Rx - Hentai,Rating_UNKNOWN,Release_Year
0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,8.75,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,26,"Apr 3, 1998 to Apr 24, 1999",...,1,0,0,0,0,1,0,0,0,1998.0
1,5,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,カウボーイビバップ 天国の扉,8.38,"Action, Sci-Fi","Another day, another bounty—such is the life o...",Movie,1,"Sep 1, 2001",...,0,0,0,0,0,1,0,0,0,2001.0
2,6,Trigun,Trigun,トライガン,8.22,"Action, Adventure, Sci-Fi","Vash the Stampede is the man with a $$60,000,0...",TV,26,"Apr 1, 1998 to Sep 30, 1998",...,1,0,0,0,1,0,0,0,0,1998.0
3,7,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),7.25,"Action, Drama, Mystery, Supernatural",Robin Sena is a powerful craft user drafted in...,TV,26,"Jul 3, 2002 to Dec 25, 2002",...,1,0,0,0,1,0,0,0,0,2002.0
4,8,Bouken Ou Beet,Beet the Vandel Buster,冒険王ビィト,6.94,"Adventure, Fantasy, Supernatural",It is the dark century and the people are suff...,TV,52,"Sep 30, 2004 to Sep 29, 2005",...,1,0,0,1,0,0,0,0,0,2004.0

In [59]:
df_anime["Release_Year"].describe()

count    20246.000000
mean      2009.055369
std         12.957386
min       1917.000000
25%       2004.000000
50%       2013.000000
75%       2018.000000
max       2025.000000
Name: Release_Year, dtype: float64

In [60]:
df_anime["Release_Year"].isna().sum()

4659

In [63]:
import asyncio
import aiohttp
import pandas as pd
import nest_asyncio

# Apply nest_asyncio for environments like Jupyter Notebook
nest_asyncio.apply()

# Function to fetch anime data asynchronously with exponential backoff
async def fetch_anime_data_with_backoff(session, anime_id, retries=5):
    """
    Fetch anime data asynchronously with exponential backoff in case of 'Too Many Requests' error.
    """
    url = f"https://api.jikan.moe/v4/anime/{anime_id}"
    delay = 4  # Initial delay in seconds for backoff

    for attempt in range(retries):
        try:
            async with session.get(url) as response:
                if response.status == 429:  # Too many requests error
                    print(f"Rate limit hit for anime_id {anime_id}. Retrying in {delay} seconds...")
                    await asyncio.sleep(delay)
                    delay *= 2  # Exponential backoff
                    continue
                
                if response.status == 404:  # Not Found error
                    print(f"Anime ID {anime_id} not found (404). Skipping...")
                    return anime_id, "Unknown", "Unknown"
                
                response.raise_for_status()
                data = await response.json()
                title = data["data"].get("title", "Unknown")
                year = data["data"].get("year", "Unknown")
                return anime_id, title, year
        except Exception as e:
            print(f"Error fetching data for anime_id {anime_id}: {e}")
            return anime_id, "Unknown", "Unknown"
    
    # If all retries fail
    return anime_id, "Unknown", "Unknown"

# Function to fill missing Release_Year values asynchronously with rate limiting and backoff
async def fill_and_clean_anime_years_async(df):
    """
    Fill missing Release_Year values asynchronously with backoff handling and rate limiting.
    """
    not_found_dict = {}
    missing_rows = df[df["Release_Year"].isna()].copy()
    
    # Semaphore to limit the number of concurrent requests (set to 1 or 2 for stricter rate limits)
    semaphore = asyncio.Semaphore(1)

    async def fetch_with_semaphore(anime_id):
        async with semaphore:
            async with aiohttp.ClientSession() as session:
                return await fetch_anime_data_with_backoff(session, anime_id)

    # Create tasks for all missing rows
    tasks = [fetch_with_semaphore(row["anime_id"]) for _, row in missing_rows.iterrows()]
    
    # Gather results concurrently with global delay between requests
    results = []
    for task in asyncio.as_completed(tasks):
        results.append(await task)
        await asyncio.sleep(0.5)  # Add global delay between requests
    
    # Process results
    for anime_id, title, year in results:
        if year not in ["Unknown", "Not found", None]:
            df.loc[df["anime_id"] == anime_id, "Release_Year"] = int(year)
        else:
            not_found_dict[anime_id] = title
    
    # Drop rows where year couldn't be found
    df = df[~df["anime_id"].isin(not_found_dict.keys())].reset_index(drop=True)
    
    return df, not_found_dict

# Wrapper function to run the async function directly on your DataFrame
def update_dataframe_with_release_years(df):
    """
    Wrapper to run the asynchronous function on a given DataFrame.
    """
    return asyncio.run(fill_and_clean_anime_years_async(df))



# Example usage of the code
# if __name__ == "__main__":
#     # Example DataFrame with anime IDs and missing Release_Year values
#     data = {
#         "anime_id": [6553, 9045, 20471, 33736, 35500, 37437],  # Replace with your actual anime IDs
#         "Release_Year": [None, None, None, None, None, None]   # Missing years
#     }
    
#     df_anime = pd.DataFrame(data)
    
#     # Run the function to fill missing Release_Year values
#     df_anime_cleaned, unfound_animes = run_async_fill_and_clean(df_anime)
    
#     # Save removed anime info (optional)
#     pd.DataFrame(list(unfound_animes.items()), columns=["anime_id", "title"]).to_csv("unfound_anime.csv", index=False)

#     # Print results
#     print("Cleaned DataFrame:")
#     print(df_anime_cleaned)

#     print("\nAnimes with unresolved Release_Year issues:")
#     print(unfound_animes)

In [64]:
# Install and apply nest_asyncio to allow nested event loops
%pip install nest_asyncio
import nest_asyncio
nest_asyncio.apply()

df_anime_cleaned, unfound_animes = update_dataframe_with_release_years(df_anime)

Requirement already satisfied: nest_asyncio in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (1.6.0)
Note: you may need to restart the kernel to use updated packages.
Anime ID 46925 not found (404). Skipping...
Rate limit hit for anime_id 43311. Retrying in 4 seconds...
Anime ID 35500 not found (404). Skipping...
Anime ID 46126 not found (404). Skipping...
Rate limit hit for anime_id 43393. Retrying in 4 seconds...
Anime ID 48868 not found (404). Skipping...
Anime ID 48874 not found (404). Skipping...
Rate limit hit for anime_id 43454. Retrying in 4 seconds...
Rate limit hit for anime_id 43491. Retrying in 4 seconds...
Anime ID 20471 not found (404). Skipping...
Anime ID 37437 not found (404). Skipping...
Anime ID 37616 not found (404). Skipping...
Rate limit hit for anime_id 30634. Retrying in 4 seconds...
Anime ID 37905 not found (404). Skipping...
Anime ID 38082 not found (404). Skipping...
Rate limit hit for anime_id 38120. Retrying in 4 seconds...
Anime ID 49558 not found (404). Skipping...
Anime ID 49565 not found (404). Skipping...
Anime ID 49566 not found (404). Skipping...
Anime ID 49567 not found (404). Skipping...
Anime ID 38273 not found (404). Skipping...
Anime ID 38274 not found (404). Skipping...
Anime ID 38279 not found (404). Skipping...
Anime ID 49716 not found (404). Skipping...
Anime ID 49717 not found (404). Skipping...
Anime ID 49774 not found (404). Skipping...
Anime ID 38585 not found (404). Skipping...
Rate limit hit for anime_id 30935. Retrying in 4 seconds...
Anime ID 38745 not found (404). Skipping...
Anime ID 43600 not found (404). Skipping...
Anime ID 54621 not found (404). Skipping...
Anime ID 38910 not found (404). Skipping...
Anime ID 54715 not found (404). Skipping...
Anime ID 50256 not found (404). Skipping...
Rate limit hit for anime_id 25083. Retrying in 4 seconds...
Rate limit hit for anime_id 54860. Retrying in 4 seconds...
Rate limit hit for anime_id 39162. Retrying in 4 seconds...
Anime ID 50767 not found (404). Skipping...
Anime ID 50863 not found (404). Skipping...
Rate limit hit for anime_id 43794. Retrying in 4 seconds...
Rate limit hit for anime_id 43803. Retrying in 4 seconds...
Rate limit hit for anime_id 39352. Retrying in 4 seconds...
Anime ID 46510 not found (404). Skipping...
Anime ID 55243 not found (404). Skipping...
Anime ID 55263 not found (404). Skipping...
Anime ID 55284 not found (404). Skipping...
Rate limit hit for anime_id 51521. Retrying in 4 seconds...
Anime ID 51521 not found (404). Skipping...
Anime ID 55322 not found (404). Skipping...
Anime ID 55352 not found (404). Skipping...
Anime ID 55453 not found (404). Skipping...
Anime ID 51674 not found (404). Skipping...
Anime ID 39473 not found (404). Skipping...
Anime ID 55539 not found (404). Skipping...
Rate limit hit for anime_id 55558. Retrying in 4 seconds...
Anime ID 55562 not found (404). Skipping...
Anime ID 6553 not found (404). Skipping...
Anime ID 55580 not found (404). Skipping...
Anime ID 55590 not found (404). Skipping...
Anime ID 39763 not found (404). Skipping...
Anime ID 55603 not found (404). Skipping...
Anime ID 40020 not found (404). Skipping...
Anime ID 40054 not found (404). Skipping...
Anime ID 40055 not found (404). Skipping...
Anime ID 55615 not found (404). Skipping...
Anime ID 55643 not found (404). Skipping...
Anime ID 33736 not found (404). Skipping...
Anime ID 55675 not found (404). Skipping...
Rate limit hit for anime_id 43915. Retrying in 4 seconds...
Anime ID 55677 not found (404). Skipping...
Anime ID 46601 not found (404). Skipping...
Anime ID 55680 not found (404). Skipping...
Anime ID 55697 not found (404). Skipping...
Anime ID 55702 not found (404). Skipping...
Anime ID 55716 not found (404). Skipping...
Anime ID 55719 not found (404). Skipping...
Anime ID 40632 not found (404). Skipping...
Anime ID 40652 not found (404). Skipping...
Anime ID 40657 not found (404). Skipping...
Anime ID 40813 not found (404). Skipping...
Anime ID 41005 not found (404). Skipping...
Anime ID 44076 not found (404). Skipping...
Rate limit hit for anime_id 41289. Retrying in 4 seconds...
Rate limit hit for anime_id 34425. Retrying in 4 seconds...
Anime ID 45822 not found (404). Skipping...
Anime ID 45823 not found (404). Skipping...
Anime ID 44304 not found (404). Skipping...
Anime ID 52552 not found (404). Skipping...
Rate limit hit for anime_id 44368. Retrying in 4 seconds...
Rate limit hit for anime_id 44455. Retrying in 4 seconds...
Rate limit hit for anime_id 28655. Retrying in 4 seconds...
Rate limit hit for anime_id 46749. Retrying in 4 seconds...
Rate limit hit for anime_id 44478. Retrying in 4 seconds...
Rate limit hit for anime_id 35026. Retrying in 4 seconds...
Anime ID 9045 not found (404). Skipping...
Rate limit hit for anime_id 42293. Retrying in 4 seconds...
Anime ID 42293 not found (404). Skipping...
Anime ID 42451 not found (404). Skipping...
Anime ID 44619 not found (404). Skipping...
Rate limit hit for anime_id 45956. Retrying in 4 seconds...
Rate limit hit for anime_id 43019. Retrying in 4 seconds...

In [66]:
df_anime_cleaned["Release_Year"].isna().sum()

# Save removed anime info (optional)
pd.DataFrame(list(unfound_animes.items()), columns=["anime_id", "title"]).to_csv("unfound_anime.csv", index=False)

In [67]:
df_anime_cleaned.shape

(20383, 61)

In [68]:
df_anime_cleaned["Release_Year"].isna().sum()

0

In [69]:

df_anime["Release_Year"].isna().sum()

4659

In [64]:
df_anime["Release_Year"].isna().sum()

4659

In [65]:
df_anime[df_anime["Release_Year"].isna()]["Name"].values

array(['Houkago no Shokuinshitsu',
       'Tennis no Ouji-sama: Sonzoku Yama no Hi',
       'Mahou Shoujo Pretty Sammy Specials', ...,
       'See You on Our Veranda', 'No More Princes', 'Miru'], dtype=object)

In [ ]:
# Ensure Release_Year is numeric (if not already)
#df_encoded['Release_Year'] = pd.to_numeric(df_encoded['Release_Year'], errors='coerce')

# One-hot encode the Release_Year column
#release_year_encoded = pd.get_dummies(df_encoded['Release_Year'], prefix='Release_Year')

# Concatenate the one-hot encoded columns with the original DataFrame
#df_encoded = pd.concat([df_encoded, release_year_encoded], axis=1)

# Drop the original Release_Year column if no longer needed
# df_encoded.drop(columns=['Release_Year'], inplace=True)

# Display the updated DataFrame
#df_encoded.head()

,anime_id,Name,English name,Other name,Score,Genres,Synopsis,Type,Episodes,Aired,...,Release_Year_2016.0,Release_Year_2017.0,Release_Year_2018.0,Release_Year_2019.0,Release_Year_2020.0,Release_Year_2021.0,Release_Year_2022.0,Release_Year_2023.0,Release_Year_2024.0,Release_Year_2025.0
0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,8.75,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,26,"Apr 3, 1998 to Apr 24, 1999",...,False,False,False,False,False,False,False,False,False,False
1,5,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,カウボーイビバップ 天国の扉,8.38,"Action, Sci-Fi","Another day, another bounty—such is the life o...",Movie,1,"Sep 1, 2001",...,False,False,False,False,False,False,False,False,False,False
2,6,Trigun,Trigun,トライガン,8.22,"Action, Adventure, Sci-Fi","Vash the Stampede is the man with a $$60,000,0...",TV,26,"Apr 1, 1998 to Sep 30, 1998",...,False,False,False,False,False,False,False,False,False,False
3,7,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),7.25,"Action, Drama, Mystery, Supernatural",Robin Sena is a powerful craft user drafted in...,TV,26,"Jul 3, 2002 to Dec 25, 2002",...,False,False,False,False,False,False,False,False,False,False
4,8,Bouken Ou Beet,Beet the Vandel Buster,冒険王ビィト,6.94,"Adventure, Fantasy, Supernatural",It is the dark century and the people are suff...,TV,52,"Sep 30, 2004 to Sep 29, 2005",...,False,False,False,False,False,False,False,False,False,False

In [ ]:
#Ensure all Release_Year columns are binary (0 or 1)
#release_year_cols = [col for col in df_encoded.columns if col.startswith('Release_Year_')]

#Convert to integers (if not already)
#df_encoded[release_year_cols] = df_encoded[release_year_cols].astype(int)

#Display the updated DataFrame
#df_encoded[release_year_cols].head()

,Release_Year_1917.0,Release_Year_1918.0,Release_Year_1926.0,Release_Year_1927.0,Release_Year_1928.0,Release_Year_1929.0,Release_Year_1930.0,Release_Year_1931.0,Release_Year_1932.0,Release_Year_1933.0,...,Release_Year_2016.0,Release_Year_2017.0,Release_Year_2018.0,Release_Year_2019.0,Release_Year_2020.0,Release_Year_2021.0,Release_Year_2022.0,Release_Year_2023.0,Release_Year_2024.0,Release_Year_2025.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
df_anime=df_encoded.copy()
df_anime.columns

Index(['anime_id', 'Name', 'English name', 'Other name', 'Score', 'Genres',
       'Synopsis', 'Type', 'Episodes', 'Aired',
       ...
       'Release_Year_2016.0', 'Release_Year_2017.0', 'Release_Year_2018.0',
       'Release_Year_2019.0', 'Release_Year_2020.0', 'Release_Year_2021.0',
       'Release_Year_2022.0', 'Release_Year_2023.0', 'Release_Year_2024.0',
       'Release_Year_2025.0'],
      dtype='object', length=155)

In [67]:
df_anime.columns[0:100]

Index(['anime_id', 'Name', 'English name', 'Other name', 'Score', 'Genres',
       'Synopsis', 'Type', 'Episodes', 'Aired', 'Premiered', 'Status',
       'Producers', 'Licensors', 'Studios', 'Source', 'Duration', 'Rating',
       'Rank', 'Popularity', 'Favorites', 'Scored By', 'Members', 'Image URL',
       'Genre_Action', 'Genre_Adventure', 'Genre_Avant Garde',
       'Genre_Award Winning', 'Genre_Boys Love', 'Genre_Comedy', 'Genre_Drama',
       'Genre_Ecchi', 'Genre_Erotica', 'Genre_Fantasy', 'Genre_Girls Love',
       'Genre_Gourmet', 'Genre_Hentai', 'Genre_Horror', 'Genre_Mystery',
       'Genre_Romance', 'Genre_Sci-Fi', 'Genre_Slice of Life', 'Genre_Sports',
       'Genre_Supernatural', 'Genre_Suspense', 'Genre_UNKNOWN', 'Type_Movie',
       'Type_Music', 'Type_ONA', 'Type_OVA', 'Type_Special', 'Type_TV',
       'Type_UNKNOWN', 'Rating_G - All Ages', 'Rating_PG - Children',
       'Rating_PG-13 - Teens 13 or older',
       'Rating_R - 17+ (violence & profanity)', 'Rating_R+ - Mild Nudity',
       'Rating_Rx - Hentai', 'Rating_UNKNOWN', 'Release_Year',
       'Release_Year_1917.0', 'Release_Year_1918.0', 'Release_Year_1926.0',
       'Release_Year_1927.0', 'Release_Year_1928.0', 'Release_Year_1929.0',
       'Release_Year_1930.0', 'Release_Year_1931.0', 'Release_Year_1932.0',
       'Release_Year_1933.0', 'Release_Year_1934.0', 'Release_Year_1935.0',
       'Release_Year_1936.0', 'Release_Year_1937.0', 'Release_Year_1938.0',
       'Release_Year_1940.0', 'Release_Year_1941.0', 'Release_Year_1942.0',
       'Release_Year_1943.0', 'Release_Year_1944.0', 'Release_Year_1945.0',
       'Release_Year_1947.0', 'Release_Year_1948.0', 'Release_Year_1955.0',
       'Release_Year_1956.0', 'Release_Year_1957.0', 'Release_Year_1958.0',
       'Release_Year_1959.0', 'Release_Year_1960.0', 'Release_Year_1961.0',
       'Release_Year_1962.0', 'Release_Year_1963.0', 'Release_Year_1964.0',
       'Release_Year_1965.0', 'Release_Year_1966.0', 'Release_Year_1967.0',
       'Release_Year_1968.0', 'Release_Year_1969.0', 'Release_Year_1970.0'],
      dtype='object')

In [64]:
merged_df.columns

Index(['Unnamed: 0', 'Username', 'Gender', 'Mean Score', 'Completed',
       'Birth_Year', 'user_id', 'anime_id', 'Anime Title', 'rating', 'Genres',
       'Genre_Action', 'Genre_Adventure', 'Genre_Avant Garde',
       'Genre_Award Winning', 'Genre_Boys Love', 'Genre_Comedy', 'Genre_Drama',
       'Genre_Ecchi', 'Genre_Erotica', 'Genre_Fantasy', 'Genre_Girls Love',
       'Genre_Gourmet', 'Genre_Hentai', 'Genre_Horror', 'Genre_Mystery',
       'Genre_Romance', 'Genre_Sci-Fi', 'Genre_Slice of Life', 'Genre_Sports',
       'Genre_Supernatural', 'Genre_Suspense'],
      dtype='object')

In [65]:
df_user.columns

Index(['user_id', 'Username', 'Gender', 'Birth_Year', 'Mean Score',
       'Completed', 'avg_Action', 'avg_Adventure', 'avg_Avant Garde',
       'avg_Award Winning', 'avg_Boys Love', 'avg_Comedy', 'avg_Drama',
       'avg_Ecchi', 'avg_Erotica', 'avg_Fantasy', 'avg_Girls Love',
       'avg_Gourmet', 'avg_Hentai', 'avg_Horror', 'avg_Mystery', 'avg_Romance',
       'avg_Sci-Fi', 'avg_Slice of Life', 'avg_Sports', 'avg_Supernatural',
       'avg_Suspense'],
      dtype='object')

In [68]:
import pandas as pd

def create_training_data(merged_df, df_user, df_anime):
    """
    Creates the training dataset by merging user, anime, and interaction data.

    Args:
        merged_df (pd.DataFrame): DataFrame containing user-anime interactions with `user_id`, `anime_id`, and `rating`.
        df_user (pd.DataFrame): DataFrame containing user features with `user_id`.
        df_anime (pd.DataFrame): DataFrame containing anime features with `anime_id`.

    Returns:
        XU (pd.DataFrame): User feature matrix.
        XM (pd.DataFrame): Anime feature matrix.
        target_variable (pd.Series): Target variable (ratings).
    """
    # Step 1: Map user_id and anime_id to integers
    user_mapping = {user: idx for idx, user in enumerate(df_user['user_id'].unique())}
    anime_mapping = {anime: idx for idx, anime in enumerate(df_anime['anime_id'].unique())}

    # Apply mappings to merged_df
    merged_df['user_id'] = merged_df['user_id'].map(user_mapping)
    merged_df['anime_id'] = merged_df['anime_id'].map(anime_mapping)

    # Apply mappings to df_user and df_anime
    df_user['user_id'] = df_user['user_id'].map(user_mapping)
    df_anime['anime_id'] = df_anime['anime_id'].map(anime_mapping)

    # Step 2: Merge df_user and df_anime with merged_df
    merged_with_user = pd.merge(merged_df, df_user, on='user_id', how='left')
    merged_with_anime = pd.merge(merged_with_user, df_anime, on='anime_id', how='left')

    # Step 3: Extract XU (user features), XM (anime features), and target variable (rating)
    XU = merged_with_anime[df_user.columns]  # User features
    XM = merged_with_anime[df_anime.columns]  # Anime features
    target_variable = merged_with_anime['rating']  # Target variable

    return XU, XM, target_variable

In [69]:
X_U,X_M,target_variable=create_training_data(merged_df,df_user,df_anime)
X_U.head(10)

KeyError: "['Username', 'Gender', 'Birth_Year', 'Mean Score', 'Completed'] not in index"